<h1>Yelpcamp</h1>

<a href="/yelpcamp/addheadline/new">Add Headline</a>


    <div>
        <h2>Headline1</h2>
        <p>Content1</p>
        <a href="">Add Content</a>
    </div>
    <hr>
    <div>
        <h2>Headline2</h2>
        <p>Content2</p>
        <a href="">Add Content</a>
    </div>
    