<h1><%= found.title %></h1>

<form action="/yelpcamp/<%= found._id%>/addcontent" method="POST">
    <input type="text" placeholder="Add Content" name="addcontent[contents]">
    <button type="submit">Submit</button>
</form>