<h1>Yelpcamp</h1>

<a href="/yelpcamp/addheadline/new">Add Headline</a>

<div>
    <div>
        <% done.forEach(function(all){ %>
            <h5><%= all.title %></h5>
            <a href="/yelpcamp/<%=all._id%>/addcontent/new">Add Content</a>
            <% all.content.forEach(function(item){ %>
                <p><%= item.content %></p>
            <% }) %>
            <hr>
        <% }) %>
        
    </div>
</div>


